html, body{
    background-color: #EDF3FB;
}

.background{
    background-color: #EDF3FB;
    height: 100%;
}
body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
