<div class="data-expenses">
    <div class="card header card-data" >

        <table class="table data">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Básica</td>
                <td>Água</td>
                <td>90$</td>
                <td>Pendente</td>
                <td class="action">

                  <div class="botoes">
                    <button type="button" class="btn btn-outline-primary botao-acao">x</button>
                    <button type="button" class="btn btn-outline-danger botao-acao">x</button>
                  </div>

                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Compras</td>
                <td>Supermercado</td>
                <td>350$</td>
                <td>Paga</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Assinatura</td>
                <td>Netflix</td>
                <td>45$</td>
                <td>pendente</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Assinatura</td>
                <td>Netflix</td>
                <td>45$</td>
                <td>pendente</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Assinatura</td>
                <td>Netflix</td>
                <td>45$</td>
                <td>pendente</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Assinatura</td>
                <td>Netflix</td>
                <td>45$</td>
                <td>pendente</td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
</div>